
/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-poppins);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--ff-volkhov);
}

strong {
  font-weight: var(--fw-bold)
}

:focus {
  outline: 3px solid var(--clr-gray);
  outline-offset: 3px;
}


/* Buttons */

.btn {
  display: inline-block;
  padding: 0.8em 1.6em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 300ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}


.heading-container {
  overflow: hidden;
}

.animation-container {
  position: relative;
  z-index: -5;
}

.bg-animation {
  position: absolute;
  display: inline-block;
  background-size: cover;
  height: 60rem;
  aspect-ratio: 0.9;
  top: 0%;
  right: -18%;
  translate: 0% -35%;
  overflow: hidden;
  animation: bgAnimation 20s infinite linear;
}

/* #Top_Nav_Decore {
  fill: var(--clr-pink);
} */

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes bgAnimation {
  0% {
      rotate: 0deg;
  }
  100% {
      rotate: 360deg;
  }
}
